---

---

<div class="container">
  <main>
    <h1>100 Sites in 100 Days</h1>
    <p>
      Hey! I'm <a href="https://srios.net/" target="_blank">Steve</a> and I'm making
      <br />
      <span class="bold">100 websites in 100 days</span>
    </p>
    <p>
      <small>
        This project is inspired by
        <a href="https://jenniferdewalt.com/index.html" target="_blank"
          >Jennifer Dewalt's 180 websites in 180 days
        </a>.
      </small>
    </p>
  </main>
</div>

<style>
  .bold {
    font-weight: bold;
  }
</style>
